html,
body {
  padding: 0;
  margin: 0;
  background-color: #fbfcfe;
  color: #363f6c;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-custom {
  height: 80px;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-bold {
  font-weight: 600;
}
.font-weight-semibold {
  font-weight: 500;
}
.nav-item {
  padding: 10px 15px;
}
.nav-link {
  color: #212d38 !important;
}
.nav-link:hover {
  color: #604bba !important;
}
.btn-rounded {
  background-color: #43ccc5;
  border-radius: 25px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  font-size: 12px !important;
}
.btn-success:hover,
.btn-success:focus {
  color: #fff;
  background-color: #3fc1b4;
  border-color: #e8fcfa;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-30 {
  margin-top: 30px;
}
