html,
body {
  padding: 0;
  margin: 0;
  background-color: #fbfcfe;
  color: #363f6c;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-custom {
  height: 80px;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-bold {
  font-weight: 600;
}
.font-weight-semibold {
  font-weight: 500;
}
.nav-item {
  padding: 10px 10px;
}
.nav-link {
  color: #363f6c !important;
  font-size: 20px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 0px !important;
  border-radius: 10px !important;
  border: 1px solid #dde5ff;
}
.nav-link:hover {
  color: #ffffff !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 0px !important;
  border-radius: 10px !important;
  background-color: #30357c !important;
  color: #ffffff !important;
}
.btn-rounded {
  background-color: #43ccc5;
  border-radius: 25px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  font-size: 12px !important;
}
.btn-success:hover,
.btn-success:focus {
  color: #fff;
  background-color: #3fc1b4;
  border-color: #e8fcfa;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-30 {
  margin-top: 30px;
}
.m-left-8 {
  margin-left: 8px;
}

/* Large screens (1405px upwards) */
@media only screen and (min-width: 1405px) {
  /* your css goes here */
  .footer {
    position: fixed;
  }
}
/*Retina MacBook pro*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .footer {
    position: relative !important;
    margin-top: 20px;
  }
}

/* 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .overview-box {
    width: 175px !important;
  }
  .overview-box-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .prevention-steps-section .image-box {
    width: 80px;
  }
}
